<page-header #pageheader>
</page-header>

<div style='width:50%'>
    <wj-flex-chart #chart style="display:block" class="chart" [itemsSource]="itemsSource">
    <wj-flex-chart-animation #animation [easing]="easing" [duration]="duration"></wj-flex-chart-animation>
    </wj-flex-chart>
</div>
<!--<wj-flex-chart #chart style="display:block" class="chart" [itemsSource]="itemsSource" [bindingX]="'name'">
    <wj-flex-chart-series [name]="'March'" [binding]="'mar'"></wj-flex-chart-series>
    <wj-flex-chart-series [name]="'April'" [binding]="'apr'"></wj-flex-chart-series>
    <wj-flex-chart-series [name]="'May'" [binding]="'may'"></wj-flex-chart-series>
</wj-flex-chart>-->

